@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;600&display=swap');




.indexbg{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(./imagenes/fondoindex.jpg);
    background-size: cover;
}

.botones{
    padding: 2rem 3rem;
    text-align: center;
    color: white;
    border: 3px solid white;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(3px);
}

.clasificacionbg{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(./imagenes/clasificacionfondo.jpg);
    background-size: cover
}


.tabla_clasificacion{
    padding: 2rem 3rem;
    text-align: center;
    color: black;
    border: 3px solid white;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(20px);
}


.alimentacionbg{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(./imagenes/fondo-alimentacion.jpg);
    background-size: cover
}



.tabla_alimentacion{
    padding: 2rem 3rem;
    text-align: center;
    color: white;
    border: 3px solid white;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(20px);
}



.habitat-bg{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(./imagenes/habitat-fondo.jpg);
    background-size: cover
}

.habitat-tabla{
    padding: 2rem 3rem;
    text-align: center;
    border: 3px solid white;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(20px);
}

.clasificaciones{
    display: flex;
}

.index-box{
    display: flex;
    text-align: center;
}

.fondo-animal{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
    background: url(./imagenes/tartaruga.jpg);
    background-size: cover
}

.tabla_animal{
    overflow: scroll;
    height: 900px;
    width: 1200px;
    margin: 40px;
    padding: 10rem 10rem;
    text-align: center;
    color: white;
    border: 3px solid white;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(5px);
}

.table1{
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
}

.table1a{
    overflow: scroll;
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
}


td,tr,th{
    color: rgb(0, 0, 0);
}

.form-animal{
    float: left;
    height: 300px;
    width: 300px;
    
}

.form-text{
    color: white;
}